services:
  postgres:
    image: postgres:13.2-alpine
    container_name: postgres
    restart: unless-stopped
    environment:
      - POSTGRES_PASSWORD=postgres
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - ./postgres:/docker-entrypoint-initdb.d:ro
